

body {
	background-color: #E3B23C;
	background-repeat: repeat;
	background-position: fixed;
	background-attachment: local;
	margin: 50px;

}

.head {
	background-color: #6E675F ;
	font-size: 30px;
	 color: #F7F9F9;
	 text-align: center;
}
