/* sample_website*/
body {
	background-image: url("../media/background.jpg");
	background-repeat: repeat;
	background-position: fixed;
	background-attachment: local;
	margin: 50px;

}


.navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	background-color: rgba(0,0,0,0.5);
	/* display: inline-block;
	outline: solid yellow 8px;
	outline-offset: 4px;
	color: green;
	text-indent: 8px;
	text-shadow: 3px 2px red;
	font-family: sans-serif;
	/* padding: auto; */
	/* width: 300px;
	height: 130px; */
	/* align : left; */
	/* margin: 200px;
	background-color: rgba(255,255,255,.5);
	background-size: 40px;
  border: solid;
	border-left: 20px solid powerblue;
  border-width: 4px;
  border-color: red;
	border-radius: 5px; */ */
 }

 li a {
	 display: block;
	 padding: 40px;
	 text-decoration: none;
	 color: red;

 }

 li a:hover {
	 background-color: white;
	 color: black;

 }

 /* .dashboard {
	 background-color: white;
 } */

 li a.active {
    background-color: #4CAF50;
    color: white;
/* a {
.header > div {
  flex:1;
	border: solid 4px green;
	border-radius: 6px;
	background-color: grey;
}
#registerimage {
	position:fixed;
	left: 0px;
    top: 0px;
    z-index: 1;
} */
