/* sample_website*/



.navbar .navbarcont {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	background-color: #423E37;

 }

 li a {
	 display: block;
	 padding: 40px;
	 text-decoration: none;
	 color: #F7F9F9;

 }

 li a:hover {
	 background-color: #EDEBD7;
	 color: black;

 }

.head {
	background-color: #6E675F ;
	font-size: 30px;
	 color: #F7F9F9;
	 text-align: center;
}

#register {
	display: inline-block;

}

.registerform {
 width: 40%
	display: inline-block;
}


 /* .dashboard {
	 background-color: white;
 } */

 /* li a.active {
    background-color: #4CAF50;
    color: white; */
